<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add Book</title>
</head>
<body>

<h2>Edit Book</h2>
<div>
<form th:object="${book}" th:action="@{../savebook}" action = "#" method="post" >
    <input type="hidden" th:field="*{id}">
    <label>Title:</label>
    <input type="text" th:field="*{title}" required/><br/>

    <label>Author:</label>
    <input type="text" th:field="*{author}" required/><br/>

    <label>Publication Year:</label>
    <input type="number" th:field="*{publicationYear}" required/><br/>

    <label>ISBN:</label>
    <input type="text" th:field="*{isbn}" required/><br/>

    <button type="submit">Save Book</button>
</form>
</div>
</body>
</html>